<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/security 
        http://www.springframework.org/schema/security/spring-security-3.1.xsd
        ">

	<beans:import resource="classpath:white-beans.xml" />
	<beans:import resource="classpath:database-beans.xml" />

	<beans:bean class="br.com.escape.security.DefaultLogoutSuccessHandler"
		id="logoutSuccessHandler" />

	<http auto-config="false" create-session="ifRequired"
		entry-point-ref="authenticationProcessingFilterEntryPoint">

		<intercept-url pattern="/api/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />

		<custom-filter position="REMEMBER_ME_FILTER" ref="rememberMeFilter" />
		<custom-filter position="FORM_LOGIN_FILTER" ref="authenticationFilter" />

		<logout logout-url="/api/logout" success-handler-ref="logoutSuccessHandler"
			delete-cookies="SPRING_SECURITY_REMEMBER_ME_COOKIE,JSESSIONID" />
	</http>

	<beans:bean id="authenticationProcessingFilterEntryPoint"
		class="br.com.escape.security.DefaultAuthenticationEntryPoint">
	</beans:bean>

	<beans:bean id="mainUserDetailsService" class="br.com.escape.security.UserDetailsService"
		autowire="byType" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider>
			<user-service id="adminUserDetailsService">
				<user name="juju" password="juju" authorities="ROLE_USER, ROLE_ADMIN" />
				<user name="gigas" password="gigas" authorities="ROLE_USER, ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
		<authentication-provider>
			<user-service id="userDetailsService">
				<user name="dani" password="dani" authorities="ROLE_USER" />
				<user name="secretaria" password="secretaria" authorities="ROLE_ASSISTANT" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

	<beans:bean class="org.codehaus.jackson.JsonFactory" id="jsonFactory">
		<beans:constructor-arg>
			<beans:bean class="org.codehaus.jackson.map.ObjectMapper" />
		</beans:constructor-arg>
	</beans:bean>

	<beans:bean
		class="br.com.escape.security.DefaultAuthenticationSuccessfulHandler"
		id="loginSuccessfulHandler">
		<beans:property name="jsonFactory" ref="jsonFactory" />
	</beans:bean>

	<beans:bean id="authenticationFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="filterProcessesUrl" value="/api/login" />
		<beans:property name="authenticationSuccessHandler"
			ref="loginSuccessfulHandler" />
		<beans:property name="rememberMeServices" ref="rememberMeServices" />
	</beans:bean>

	<!-- VIEW CONFIGURATION -->
	<beans:bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<beans:property name="messageConverters">
			<beans:list>
				<beans:ref bean="mappingJacksonHttpMessageConverter" />
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"
		id="mappingJacksonHttpMessageConverter">
		<beans:property name="supportedMediaTypes" value="application/json;charset=UTF-8" />
	</beans:bean>


	<!-- FILE UPLOAD CONFIGURATION -->
	<beans:bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<beans:property name="maxUploadSize">
			<beans:value>10000000000</beans:value>
		</beans:property>
	</beans:bean>

	<!-- REMEMBER ME CONFIGURATION -->
	<beans:bean id="rememberMeFilter"
		class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<beans:property name="rememberMeServices" ref="rememberMeServices" />
		<beans:property name="authenticationManager" ref="authenticationManager" />
	</beans:bean>


	<beans:bean id="rememberMeServices"
		class="org.springframework.security.web.authentication.rememberme.TokenBasedRememberMeServices">
		<beans:property name="userDetailsService" ref="userDetailsService" />
		<beans:property name="key" value="white" />
	</beans:bean>

	<beans:bean id="rememberMeAuthenticationProvider"
		class="org.springframework.security.authentication.RememberMeAuthenticationProvider">
		<beans:property name="key" value="white" />
	</beans:bean>

</beans:beans>
